/* background-image: ; */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to top,
    #a2e7e4,
    #8cdcea,
    #81ceef,
    #85bff0,
    #95adea,
    #a6ade7,
    #b5ade4,
    #c2aee0,
    #cfc2e9,
    #ded7f1,
    #eeebf8,
    #ffffff
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 5px 5px rgb(255, 255, 255);

  
}  
.cont {
  margin-top: 100px;
  width: 50%;
}

.location {
  display: flex;
  justify-content: space-between;
  height: 25vh;
}

.temperature,
.temperature-description {
  display: flex;
  justify-content: center;
}

.temperature {
  margin-bottom: 20vh;
}

.timezone,
p {
  font-size: 80px;
}

.degree {
  font-size: 80px;
}

.temperature-description {
  font-size: 50px;
}
